body {
	/*background-color:blue;*/
	/*border: 1px solid black;*/
	height: 100%;
	width: 100%;
}


#contenedorTablaRankings {
	margin-top: 30%;
	margin: auto;
    width: 70%;
}
.tablaRankings {
	text-align: center;
}


/*#main-header {
	background: #333;
	color: white;
	height: 80px;

	width: 100%; !* hacemos que la cabecera ocupe el ancho completo de la página *!
	left: 0; !* Posicionamos la cabecera al lado izquierdo *!
	top: 0; !* Posicionamos la cabecera pegada arriba *!
	position: fixed; !* Hacemos que la cabecera tenga una posición fija *!
}*/



.tablabotonesligas {
	margin: auto;
	margin-top: 3%;
	margin-bottom: 25px;
	/*position: fixed;*/
}

thead th {
    border-top: 2px solid black;
    border-bottom:  2px solid black;
    background-color: #1c9aff;
}

#contenedorBarraSuperior {
	height: 8%;

}

#contenedorLogo {
	border: 1px solid black;
	float: left;
}

#logo {
	height: 100%;
}

#contenedorTablacentral{
	/*	border: 1px solid black;
        	margin-left: 12%;*/
	margin: auto;
	width: 95%;
    max-width: 95%;
   /* padding-left: 25%;*/
	margin-bottom: 0%;
	height: 75%;

}

#cc {
	width: 100%;
	margin: auto;
}

.grafica_escondida {
    position: absolute;
    visibility: hidden;
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 200px;
    background-color: blue;

}
/*.botonesLigas {
    background-color: blue;
    background-color: #1c9aff;
}*/


.grafica {
    position: absolute;
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 200px;
    background-color: blue;

}

#cuadro_grafica  {
    background-color: #f1f1f1;
    width: 95%;
    height: 75%;
    margin: auto;
    border: 1px solid black;

}

#banner h3 {
    margin-left: 15px;
    text-align: center;

}

#tablaCentral1X2{
	background-color: #1c9aff;
	width: 100%;
	height: 10%;
    text-align: center;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.tablaEquipos{
	background-color: #1c9aff;
	width: 100%;
	height: 10%;
    text-align: center;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.tablaHoraFecha {
    width: 100%;
	height: 10%;
    text-align: center;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
    background-color: #1c9aff;
}

.tablaCuotas {
    text-align: center;
    width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#tablaCuotaBetfair {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.tablaCuotasJuegging {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.tablaCuotasInterwetten {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.tablaCuotasMbet {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.tablaCuotasMarcaApuestas {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}


.tablaCuotasKirolbet {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.tablaCuotasRetabet {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.tablaCuotasSuertia {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.tablaCuotasSissal {
    text-align: center;
    width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.tablaCuotasCasinoBarcelona {
    text-align: center;
    width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.tablaCuotasCasinoMadrid {
    text-align: center;
    width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.tablaCuotasGoldenPark {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#tablaCalculadora {
    margin: auto;
    margin-top: 7%;
    text-align: center;
    border: 1px solid black;

}

.tablaCuotasMejores {
	text-align: center;
	width: 100%;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

/*table,td {
	border: 1px solid black;
}*/





.lineaSeparadora {
	border: 1px solid black;

}


/* Add a black background color to the top navigation */
.topnav {
	background-color:  #4854ec;
	border: 1px solid black;
	width: 	100%;
	overflow: hidden;
	height: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
	float: right;
	color: #f2f2f2;
	height: 100%;
	text-align: center;
	/*border: 1px solid black;*/
	padding: 16px 16px;
	margin: auto;
	text-decoration: none;
	font-size: 17px;
}
#PrimeraColumna {
	width: 2%;
	height: 100%;
	float: left;
}
#SegundaColumnaEquipos {
	float: left;
	height: 100%;
	width: 9%;
}
#TerceraColumnaDate {
	float: left;
	height: 100%;
	width: 7%;
}
#CuartaColumnaCuotas {
	/*border: 1px solid yellow;*/
	float: left;
	height: 100%;
	width: 7%;
}

#CuotasBetfair {
    float: left;
}
#CuotasJuegging {
    float: left;
}
#CuotasInterwetten {
    float: left;
}
#CuotasMbet {
    float: left;
}
#CuotasMarcaApuestas {
    float: left;
}
#CuotasKirolbet {
    float: left;
}
#CuotasRetabet {
     float: left;
 }
#CuotasSuertia {
    float: left;
}
#CuotasSissal {
    float: left;
}
#CuotasCasinoBarcelona {
    float: left;
}
#CuotasCasinoMadrid {
    float: left;
}
#CuotasGoldenPark {
	float: left;
}
#MejoresCuotas {
	float: left;
}
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #34af35;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #34af35;
	color: white;
}

img {
	text-align: center;
	width:100px;
	height:100px;
}

ul {
	list-style-type: none;
	margin: 10px;
	margin-bottom: 5%;
	margin-top: 5%;
	padding: 0;
	width: 10%;
	background-color: #f1f1f1;
	height: 80%;
	position: fixed; /* Make it stick, even on scroll */
	overflow: auto; /* Enable scrolling if the sidenav has too much content */
}


p {
	/*color: white;*/
}


li {
	text-align: center;
	border-bottom: 1px solid #555;
}

li:last-child {
	border-bottom: none;
}
.active {
	background-color: #34af35;
	color: white;
}

.nav {
	list-style-type: none;
	margin: 0;
	margin-top: 	5%;
	padding: 0;
	height: 	63%;
	width: 160px;
	/*color: 200808;*/
	border: 1px solid #555;
	background-color:  #4854ec;

}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
	background-color: #555;
	color: white;
}

.textoIntroduccion {
    margin: auto;
   /* border: 1px solid black;*/
    padding: 2%;
}


